# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.whl

# Streamlit
.streamlit/

# Environment variables
.env
*.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.bak
*.swp
*.tmp